  <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img id="logo" src="https://ik.imagekit.io/paulocayres/Imperium_7ZPG3clUI.png" height="50px" class="d-inline-block align-top" alt="">
  </a>
</nav>
